#board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-square {
    flex: 0 0 33%;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    background-color: tan;
    text-align: center;
    font-size: 50px;
}